COMPOSE_PROJECT_NAME=dingolytics-84jv
APPLICATION_SERVER_TAG=0.1.3
APPLICATION_FRONTEND_TAG=0.1.0
WEB_HOST=:8100
WEB_HOST_LETSENCRYPT_EMAIL=internal
VECTOR_INGEST_URL=[HOST]
# Secrets:
POSTGRES_PASSWORD=gY5...
CLICKHOUSE_PASSWORD=D4e...
SECRET_KEY=Nvv...
DATASOURCE_SECRET_KEY=csh...
